body,html{
	height: 100%;
}

.TopSpace{
	height: 25%;
}

.container{
	height: 50%;
}

.BottomSpace{
	height: 25%;
}

.logo {
	width: 272px;
	margin: 0px auto;
}


.searchBar{
	text-align: center;

	margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;

    width: 503px;

	box-shadow: 5px 5px 5px #888888; 
}

.searchBar input{
	width: 503px;
	height: 35px;
}

.buttons {
	text-align: center;
}
#b1, #b2{
	background-color: #397df3;
	color: white;
	border-radius: 5px;
	margin: 20px;
	line-height: 18px;
	font-size: 18px;
	box-shadow: 5px 5px 5px #888888; 
}
#b1:hover, #b2:hover{
	background-color:#234b90;
	cursor: pointer;

}